html {
	background: color(display-p3 0.97 0.873 1);
	color: rgb(59, 59, 59);
}

h1, h2, a {
	color: color(display-p3 0.873 0.419 1);
}

a:hover {
	transform: scale(1.05);
	text-shadow: 0 0 .125em color(display-p3 0.873 0.419 1);
}

.star {
	fill: color(display-p3 0.873 0.419 1);
}

hr {
	border: 1px solid rgb(59, 59, 59);
}