html {
	background: color(display-p3 0.827 0.827 0.827);
	color: black;
}

h1, h2, a, .gallery-head {
	color: color(display-p3 0.877 0.07 0);
}

a:hover {
	text-shadow: 0 0 .125em color(display-p3 0.877 0.07 0 / 50%);
}

.star, .icon {
	fill: color(display-p3 0.877 0.07 0);
}

hr {
	border: 1px solid black;
}

#email {
	color: color(display-p3 0.877 0.07 0);
}