/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
	font-family: "Cartridge Bold";
	src: url('../fonts/Cartridge-Bold.otf');
}

@font-face {
	font-family: "Cartridge Regular";
	src: url('../fonts/Cartridge-Regular.otf');
}

@font-face {
	font-family: "Mumbo";
	src: url('../fonts/MumboSSK.TTF');
}

@font-face {
	font-family: "Departure";
	src: url('../fonts/DepartureMono-Regular.otf')
}

html {
	background-repeat: no-repeat;
	min-height: 100vh;
	font-family: "Cartridge Regular", sans-serif, system-ui;
	font-size: 1.5em;
	font-weight: normal;
}

p {
	margin: 0.5em 0 0.5em 0;
}

hr {
	margin: 1em auto;
	width: 100%;
}

h1 {
	font-size: 3.5em;
	font-family: "Cartridge Bold", sans-serif, system-ui;
	text-align: center;
	line-height: 1;
	margin: 0.5em 0 0.125em 0;
}

h2 {
	font-size: 2.5em;
	font-family: "Cartridge Bold", sans-serif, system-ui;
	line-height: 1;
	margin: 0.5em 0 0.125em 0;

}

h3 {
	font-size: 1.5em;
	margin: 0.125em 0;
}

a {
	text-decoration: none;
	font-family: "Cartridge Bold", sans-serif, system-ui;
	transition: all .1s ease-in-out;
	display: inline-block;
}

#secret-playdate {
	color: rgb(59, 59, 59);
	transition: all .5s ease-in-out;
}

#secret-playdate:hover {
	transform: rotate(360deg) scale(1.1);
}

header {
	margin: 0 auto;
	justify-content: center;
	text-align: center;
	font-family: "Cartridge Bold", sans-serif, system-ui;
	max-width: 55ch;
	width: 80%;
}

#preheader {
	font-size: 2.25em;
	line-height: 1; 
}

#mainheader {
	margin-top: 0.125em;
}

#postheader {
	font-size: 1.5em;
}

.headerimage {
	margin: 2em auto;
	max-width: 800px;
}

.headerimage img {
	transition: all .1s ease-in-out;
	border-radius: 15px;
}

.headerimage img:hover {
	transform: scale(1.02);
	cursor: pointer;
}

.headerimage img:active {
	transform: scale(1.01);
}

.starbox {
	margin: 1em auto;
	justify-content: center;
	text-align: center;
	padding: 0 1em;
}

.starbox ul {
	height: 200px;
	padding: 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

#starbox1 ul li:nth-child(1) {
	align-self: flex-end;
	transform: rotate(-10deg);
}

#starbox1 ul li:nth-child(3) {
	align-self: flex-end;
	transform: rotate(10deg);
}

#starbox2 ul li:nth-child(1) {
	transform: rotate(10deg);
}

#starbox2 ul li:nth-child(2) {
	align-self: flex-end;
}

#starbox2 ul li:nth-child(3) {
	transform: rotate(-10deg);
}

.star {
	padding: 25px;
	width: 125px;
	transition: all .15s ease-in-out;
}

#star1:hover {
	fill: white;
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 1em white);
	cursor: pointer;
}

#star2:hover {
	fill: color(display-p3 0.738 0.932 1);
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 0.75em color(display-p3 0.738 0.932 1));
	cursor: pointer;
}

#star3:hover {
	fill: color(display-p3 0.801 1 0.626);
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 1em color(display-p3 0.801 1 0.626));
	cursor: pointer;
}

#star4:hover {
	fill: color(display-p3 1 0.84 0.57);
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 1em color(display-p3 1 0.84 0.57));
	cursor: pointer;
}

#star5:hover {
	fill: color(display-p3 1 0.663 0.663);
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 0.5em color(display-p3 1 0.663 0.663));
	cursor: pointer;
}

#star6:hover {
	fill: color(display-p3 0.952 0.663 1);
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 1em color(display-p3 0.952 0.663 1));
	cursor: pointer;
}

#star7:hover {
	fill: black;
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 1em black);
	cursor: pointer;
}

#star1:active, #star2:active, #star3:active, #star4:active, #star5:active, #star6:active, #star7:active {
	transform: scale(1);
}

.section {
	width: 80%;
	max-width: 55ch;
	margin: 1em auto;
	display: block;
	flex-direction: column;
}

/* Gallery */

.gallery {
	margin: 0 auto;
	display: flex;
	list-style-type: none;
	padding-inline-start: 0;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.gallery a:hover {
	text-shadow: none;
	transform: translateY(-5px) scale(1);
}

.gallery-item {
	position: relative;
	margin: 0.5em;
	display: flex;
	flex-direction: column;
	line-height: 1.2;
	transition: all 0.1s ease-in;
	width: 320px;
}

.gallery-item:active {
	transform: translateY(0);
}

.gallery-extra {
	visibility: hidden;
	position: absolute;
	background: white;
	padding: 0 0.75em;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	align-content: center;
	justify-content: center;
	transition: opacity .2s, visibility .2s;
	margin: 0;
}

.gallery-image {
	position: relative;
	margin: 0 auto 0.5em auto;
}

.gallery img {
	max-height: 420px;
}

.gallery-image:hover .gallery-extra {
	visibility: visible;
	opacity: 1;
}

.gallery-head {
	line-height: 1em;
	font-family: "Cartridge Bold", sans-serif, system-ui;
	font-size: 1.2em;
	margin-bottom: 0.125em;
}

.gallery-subhead {
	font-size: 0.875em;
	font-family: "Cartridge Bold";
}

/* Other Media */

.bandcamp {
	margin: 0.5em auto;
}

.youtube {
	margin: 0.5em auto;	
	aspect-ratio: 16 / 9;
	width: 100%;
}

table {
	display: block;
}

th {
	text-align: start;
	padding-right: 1em;
	font-weight: normal;
	font-family: "Cartridge Bold", sans-serif, system-ui;
}

tr {
	vertical-align: top;
	padding: 1em;
}

.game-info {
	margin: 0 auto;
	width: 75%;
}

footer {
	margin: 1em auto;
	max-width: 55ch;
	width: 80%;
}

footer ul {
	list-style: none;
	padding-inline-start: 0;
}

.icon {
	height: 20px;
	display: inline;
	vertical-align: -0.0625em;
}

@media only screen and (max-width: 859px) {
	.section {
		text-align: center;
	}
}

@media only screen and (max-width: 600px) {	
}

@media only screen and (max-width: 400px) {
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 2em;
	}
	#preheader {
		font-size: 1.75em;
	}
	#postheader {
		font-size: 1em;
	}
	.starbox ul {
		height: 150px;
	}
	.star {
		padding: 15px;
	}
	.gallery-extra {
		font-size: 0.75em;
	}
}
